.top-buffer { margin-top:75px; }
.top-medium-buffer { margin-top:35px; }
.glyphicon-star, .glyphicon-star-empty {
	font-size: 25px;
}
.glyphicon-star-selected, .glyphicon-star-empty-selected {
  color:red;
   font-size: 25px;
}
#rating:hover i {
	color: green;
}
textarea { resize:none; }

.fullHeight {height:100%;}
.container{height:100%;}

.container-map{
/*padding-left: 25px;*/
padding-top: 28px;
/*padding-right: 25px;*/
height: 100%;
padding-bottom: 50px;
}

html,body {
    height:100%; 
}
.angular-leaflet-map{height:100%;}
