.top-buffer { margin-top:75px; }
.top-medium-buffer { margin-top:35px; }
.glyphicon-star, .glyphicon-star-empty {
	font-size: 25px;
  padding-top: 30px;
}
.glyphicon-star-selected, .glyphicon-star-empty-selected {
  color:red;
  font-size: 25px;
}
#rating:hover i {
	color: green;
}
textarea { resize:none; }

.fullHeight {
  height:100%;
  overflow-y:auto;
  overflow-x:hidden;
}

.container-info{
  margin-right:auto;
  margin-left:auto;
  padding-left:15px;
  padding-right:15px
}
@media (min-width:768px){
  .container-info{width:750px}
}
@media (min-width:992px){
  .container-info{width:970px}
}
@media (min-width:1200px){
  .container-info{width:1170px}
}


.container-map{
/*padding-left: 25px;*/
padding-top: 28px;
padding-right: 25px;
height: 800px;
padding-bottom: 50px;
}

html,body {
    height:100%; 
}
.data-container{
  height: 820px;
  overflow-y: auto;
  overflow-x:hidden;
}
.data-container-overflow{

}


.angular-leaflet-map{height:100%;}

#scrollArea {
  height: 630px;
  overflow-y: auto;
  overflow-x: auto;
}

#bottom {
  display: block;
  margin-top: 2000px;
}

.locations-list{
	text-indent: 0px;
	line-height: 15px;
	font-size: 12px;
}

.language-icon{
  height: auto;
  width: 20px;
}
a:hover {
 cursor:pointer;
}

snap-content {
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.ratingStyleGreen{
  color: green;
}

.ratingStyleRed{
  color: red;
}

.ratingStyleYellow{
 color: yellow;
}
.labelStyleGreen{
  background-color: green;
}

.labelStyleRed{
  background-color: red;
}

.labelStyleYellow{
 background-color: yellow;
}

.sidebarButton{
    position: absolute;
    margin-top: 30%;
}

.relative{
  position: relative;
}

.addRouteElement{
  color: white;
  background-color:blue; 
}

.justify{
  text-align: justify;
}

.date-format{
  font-weight:bold;
  font-size:15px;
}

.filter-format{
  font-weight:bold;
  font-size:15px; 
}

.filter-margin{
  margin-bottom: 15px;
}