<div ng-include="'partials/navbar'"></div>
	<div style="padding-top: 50px;"class="row">
	<div class="row">
		<div class="col-lg-5">
			<img class="img-responsive"ng-src="images/{{emblematicBuilding.image_path}}">
		</div>
		<div class="col-lg-2">
			<h3><span class="label label-success">{{emblematicBuilding.NOTE}}</span><h3>
		</div>
		<div class="col-lg-5">
			{{emblematicBuilding.description_es}}
			 <form ng-show="currentUser && !isComment" class="top-buffer" class="form" name="form" ng-submit="createComment()">
  				<div class="form-actions">
       				<button type="submit" class="btn btn-primary">Añadir</button>
       				<rating ng-model="myComment.note" value="myComment.note" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" ng-style="{color:'red'}" on-leave="hoveringLeave(value)" id="rating"></rating>
        		<!--<button class="btn btn-warning" ng-click="cancel($event)">Cancelar</button>-->
    			</div>
				<div class="row">
					<div class="col-md-12">
						<textarea class="form-control" name="comment" ng-model="myComment.comment" rows="5" placehorder="Escriba su opinión..."></textarea>
					</div>
				</div>
			</form>	
			<form ng-show="currentUser && isComment" class="top-buffer" class="form" name="form" ng-submit="editComment()">
  				<div class="form-actions">
       				<button  type="submit" class="btn btn-primary">Edit</button>
       				<rating ng-model="myComment.note" value="myComment.note" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" ng-style="{color:'red'}" on-leave="hoveringLeave(value)" id="rating"></rating>
        		<!--<button class="btn btn-warning" ng-click="cancel($event)">Cancelar</button>-->
    			</div>
				<div class="row">
					<div class="col-md-12">
						<textarea class="form-control" name="comment" ng-model="myComment.comment" rows="5" placehorder="Escriba su opinión..."></textarea>
					</div>
				</div>
			</form>	
		</div>
	</div>
	<div class ="row"></div>
	<div class="row top-buffer">
		<div class="col-lg-5">
			<iframe width="450" height="250" frameborder="0" style="border:0" ng-src="{{url}}"></iframe>
		</div>
		<div class="col-lg-2">

		</div>
		<div class="col-lg-5">
			 <!--<button type="button" ng-show="currentUser" class="btn btn-default btn-primary"  ng-click="createComment()">
    			Nuevo comentario
  			</button>-->
			<ul class="list-group">
				<li  class="list-group-item"  ng-repeat="comment in comments"  >
					{{comment.comment}}
				</li>
			</ul>
		</div>
	</div>
