<div class="container">
<div ng-include="'partials/navbar'"></div>
	<div style="padding-top: 50px;"class="row data-container">
		<div class="col-md-9">
			<div class="panel panel-default">
				<ul class="list-group">
					<li  class="list-group-item"  ng-repeat="event in pagedItems[currentPage]" >
						<div class="row">
							<div class="col-md-10">
								<a ui-sref="eventInfo({id: event.id})"><h4>{{event['title_' + getLang()] }}</h4></a>
							</div>
							<div class="col-md-2">
								<h4>{{event['subtype_' + getLang()] }}</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<img class="img-responsive"ng-src="images/{{event.image_path}}">
							</div>
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-12">
										<p>{{event['description_' + getLang()] }}</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-8"> 
										<p>
											<span class="date-format">{{event['startdate'] | date:("date"|translate)}}</span>
											<span class="date-format" ng-show="{{event.showEndDate}}">/ {{event['endate'] | date:'yyyy-MM-dd'}}</span>
										</p>
										<p>
											<span class="date-format">{{event['starthour']}}</span> - 
											<span class="date-format">{{event['endhour']}}</span>
										</p>
									</div>
									<div class="col-md-4">
										<div ng-if="event.price == '0'">
											<span class="label label-success date-format">{{"free" | translate}}</span>
										</div>
										<div ng-if="event.price != '0' && event.price !='-1'">
											<span class="label label-info date-format">{{event['price']}}€</span>
										</div>
										<div ng-if="event.price =='-1'">
											<span class="label label-danger date-format">{{"toDefine" | translate}}</span>
										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<button type="button" ng-show="isSidebarEnabled()"ng-click="addLocation(event.event_id)" class="btn btn-default btn-lg pull-right">
  								<span class="addRouteElement glyphicon glyphicon-plus"></span>
							</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well well-lg">
				<div class="control-group">
				    <div class="controls">
				    	<div class="row filter-format filter-margin">Price</div>
				    	<div class="row">
					    	<slider
							    ng-model="priceSilder.low"
							    floor="0"
							    ceiling="100"
							    ng-model-range="priceSlider.high">
							</slider>
						</div>
						<div class="row filter-format">Fecha de inicio</div>
						<div class="row"><input type="date" ng-model="startDate"/></div>
						<div class="row filter-format">Fecha de fin</div>
						<div class="row"><input type="date" ng-model="endDate"/></div>
						<div class="row filter-format">Rango de horas</div>
						<div class="row filter-margin"><input type="time" ng-model="startHour"/><input type="time" ng-model="endHour"/></div>
						<div class="row">
							<button class="btn btn-primary" ng-click="filterEvent()" type="submit">Filtrar</button>
						</div>
				    </div>
				</div>
			</div>
		</div>
	</div>
    <div class="row pull-right">
        <ul class="pagination">
            <li ng-class="{disabled: currentPage == 0}" ng-hide="arePages()">
                <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range(pagedItems.length)"
                ng-class="{active: n == currentPage}"
            ng-click="setPage()">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == pagedItems.length - 1}" ng-hide="arePages()">
                <a href ng-click="nextPage()">Next »</a>
            </li>
        </ul>
    </div>
</div>