<div class="jumbotron">
  <h1>XploreBilbao</h1>
  <div class="row" ng-controller="TranslateController">
        <div class="col-md-4">

    </div>
        <div class="col-md-4">
  <p class="lead">
    <img src="images/homepage.jpg" class="img-responsive borderRadius"><br>
    {{'lema' | translate}}
  </p>
    </div>
  <div class="row">
    <div class="col-md-4">

    </div>
  </div>
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <ul class="list-inline">
          <li><a ng-click="changeLanguage('es')">
            <img class="img-responsive language-icon-homepage"ng-src="images/castellano.png"></img>
          </a>
        </li>
        <li>
          <a ng-click="changeLanguage('en')">
            <img class="img-responsive language-icon-homepage"ng-src="images/ingles.png"></img>
          </a>  
        </li>
        <li>
          <a ng-click="changeLanguage('eu')">
            <img class="img-responsive language-icon-homepage" ng-src="images/euskera.png"></img>
          </a>  
        </li>
      </ul>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>


