<div class="container">
<div ng-include="'partials/navbar'"></div>

	<div style="padding-top: 50px;" >
		<div class="row data-container">
			<div class="col-md-9 col-lg-9">
				<div class="panel panel-default">
					<ul class="list-group">
						<li  class="list-group-item"  ng-repeat="museum in pagedItems[currentPage]" id="{{museum.id}}" >
							<div class="row">
								<div class="col-md-6">
									<a ui-sref="museumInfo({id: museum.id})"><h4>{{museum['denom_' + getLang()] }}</h4></a>
								</div>
								<div class="col-md-6">
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<img class="img-responsive"ng-src="images/{{museum.image_path}}">
								</div>
								<div class="col-md-8">
									<p>{{museum['description_' + getLang()] }}</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-lg-3">
			</div>
		</div>

	</div>

    <div class="pull-right row">
	        <ul class="pagination">
	            <li ng-class="{disabled: currentPage == 0}" ng-hide="arePages()">
	                <a href ng-click="prevPage()">« Prev</a>
	            </li>
	            <li ng-repeat="n in range(pagedItems.length)"
	                ng-class="{active: n == currentPage}"
	            ng-click="setPage()">
	                <a href ng-bind="n + 1">1</a>
	            </li>
	            <li ng-class="{disabled: currentPage == pagedItems.length - 1}" ng-hide="arePages()">
	                <a href ng-click="nextPage()">Next »</a>
	            </li>
	        </ul>

    </div>

</div>