
<div class="container">
		<div class="row">
			<div class="col-md-3 col-lg-3">
			</div>
			<div class="col-md-9 col-lg-9">
				<div class="row">
					<div class="col-md-9">
						<h1 style="padding-top:50px;">{{'pintxos' | translate}}</h1>
					</div>
					<div class="col-md-3">
						<div class="right-inner-addon"style="padding-top:75px;">
	        				<i class="glyphicon glyphicon-search" style="padding-top:80px;"></i>
	        				<input type="search"
	               			class="form-control" 
	               			placeholder="Search"
	               			ng-model="searchText"
	               			 />
	    				</div>
    				</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-lg-3">
				<div class="row">
				<div class="col-md-12 col-12-3">
					<h3>{{'filter' | translate}}</h3>
				</div>
				</div>
				<div class="well well-lg filter-background">
					<div class="control-group">
				    	<div class="controls">
				        	<label class="checkbox" ng-repeat="category in pintxosCategory">
				            	<input type="checkbox" ng-change="filterByCategory()"ng-model="category.isActivated" defaultChecked="true">
				            	{{category['first_type_' + getLang()] }}
				        	</label>     
				    	</div>
					</div>
				</div>
				<div class="row">
				<div class="col-md-12 col-12-3">
					<h3>Ordenar por</h3>
				</div>
				</div>
				<div class="well well-lg filter-background">
					<div class="control-group">
				    	<div class="controls">
				    		<label class="radio" >
				            	<input type="radio" ng-model="predicate" value="" ng-change="order()">
				            	{{'nothing' | translate}}
				        	</label> 
				        	<label class="radio" >
				            	<input type="radio" ng-model="predicate" value="-hostelery_type" ng-change="order()" >
				            	{{'category' | translate}}
				        	</label>     
				        	<label class="radio" >
				            	<input type="radio" ng-model="predicate" value="-note" ng-change="order()">
				            	{{'note' | translate}}
				        	</label> 
				    	</div>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-lg-9 data-container desktop">
				<div class="panel panel-default">
					<ul class="list-group">
						<li  class="list-group-item"  ng-repeat="pintxo in filteredItems | filter:searchText" id="{{pintxo.id}}" >
							<div class="row">
							<!--<a ui-sref="pintxos.pintxoInfo({id: pintxo.id})"> {{pintxo.denom_es}}</a>-->
								<div class="col-md-7">
									<a ui-sref="pintxoInfo({id: pintxo.id})"><h4>{{pintxo['denom_' + getLang()] }}</h4></a>
								</div>
								<div class="col-md-2"><h4><span class="label label-success"ng-class="{labelStyleRed: pintxo.note == '0' || pintxo.note == '1' || pintxo.note == '2' ,labelStyleYellow: pintxo.note == '3', labelStyleGreen: pintxo.note=='4'|| pintxo.note=='5' }" >{{pintxo.note}}</span></h4></div>
								<div class="col-md-3 ">
									<h5>{{pintxo['first_type_' + getLang()] }}</h5>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<img class="img-responsive"ng-src="images/{{pintxo.image_path}}">
								</div>
								<div class="col-md-8">
									<p class="justify">{{pintxo['description_' + getLang()] }}</p>
								</div>
							</div>
							<div class="row">
								<button type="button" ng-show="isSidebarEnabled()"ng-click="addLocation(pintxo.id)" class="btn btn-default btn-lg pull-right buttonNoBorder">
  									<span class="addRouteElement glyphicon glyphicon-plus"></span>
								</button>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
<div class="row top-buffer"></div>

</div>