<div ng-include="'partials/navbar'"></div>
	<div style="padding-top: 50px;"class="row">
	<div class="row">
		<div class="col-lg-5">
			<img class="img-responsive"ng-src="images/{{restaurant.image_path}}">
		</div>
		<div class="col-lg-2">

		</div>
		<div class="col-lg-5">
			{{restaurant.description_es}}
		</div>
	</div>
	<div class ="row"></div>
	<div class="row top-buffer">
		<div class="col-lg-5">
			<iframe width="450" height="250" frameborder="0" style="border:0" ng-src="{{url}}"></iframe>
		</div>
		<div class="col-lg-2">

		</div>
		<div class="col-lg-5">
			 <button type="button" class="btn btn-default btn-primary"  ng-click="createComment()">
    			Nuevo comentario
  			</button>

			<ul class="list-group">
				<li  class="list-group-item"  ng-repeat="comment in comments"  >
					{{comment.comment}}
				</li>
			</ul>
		</div>
	</div>
