<ul class="sidebar-nav list-group">
	<li class="sidebar-brand list-group-item"><a ui-sref="{{origin}}"><i class="fa pull-left fa-arrow-left"></i></a>	Ruta desglosada
	</li>
	<li class ="list-group-item"  ng-repeat="location in routeDetailsInfo" > 
		<div class="row">
				<div ng-if="location.properties.denom_es">
					<h4>{{location.properties.denom_es}}</h4>
				</div>
				<div ng-if="location.properties.title_es">
					<h4>{{location.properties.title_es}}</h4>
				</div>
			<div class="col-md-6">
				<img class="img-responsive"ng-src="images/{{location.properties.image_path}}"></img>
			</div>	
			<div class="col-md-6">
				<p class="locations-list">{{location.properties.description_es | characters: 125}}</p>
			</div>
		</div>
	</li>
</ul>