<ul class="sidebar-nav list-group customSidebar">
	<li class="sidebar-brand list-group-item ">
		<h3 class="center">Ranking de Rutas</h3>
	</li>
	<div id="scrollArea" >
		<li class ="list-group-item"  ng-repeat="route in topRoutes" >
			<div class="row">
				<div class="col-md-12">
					<h3 class="noIdent">{{route.properties.name_es}}</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="locations-list noIdent">{{route.properties.description_es| characters: 125}}</p>
				</div>
			</div> 
			<div class="row">
				<span class="col-md-12">
					<button class="btn btn-lg btn-block btn-green" ng-click="showInMap(route.properties.id)" type="submit">Mostar en mapa</button>
				</span>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-lg btn-block btn-blue" ng-click="showDetails(route.properties.id)" type="submit">Desglosar</button>
				</div>
			</div>
		</li>
	</div>
</ul>