<ul class="sidebar-nav list-group customSidebar">
	<li class="sidebar-brand list-group-item ">
		<h3 class="center">Ranking de Rutas</h3>
	</li>
	<div id="scrollArea" >
		<div ng-repeat="route in topRoutes">
		<li class ="list-group-item" ng-show="user.id!=route.properties.createdby" >
			{{user.id}}
			<!--<div class="row" ng-show="currentUser">
				<div class="col-md-12 pull-right">
				    <button type="button" class="pull-right btn btn-default btn-lg buttonNoBorder" >
                        <span ng-click="followRoute($index)">
                            <i class="glyphicon glyphicon-plus"></i>
                        </span>
                    </button>
				</div>
			</div>-->
			<div class="row">
				<div class="col-md-10">
					<h3 class="noIdent">{{route.properties.name_es}}</h3>
				</div>
				<div class="col-md-2">
					<button type="button" ng-show="currentUser" class="pull-right btn btn-default btn-lg buttonNoBorder" >
                        <span ng-click="followRoute($index)" class="pull-right">
                            <i class="glyphicon glyphicon-plus"></i>
                        </span>
                    </button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="locations-list noIdent">{{route.properties.description_es| characters: 125}}</p>
				</div>
			</div> 
			<div class="row">
				<span class="col-md-12">
					<button class="btn btn-lg btn-block btn-green" ng-click="showInMap(route.properties.id)" type="submit">Mostar en mapa</button>
				</span>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-lg btn-block btn-blue" ng-click="showDetails(route.properties.id)" type="submit">Desglosar</button>
				</div>
			</div>
		</li>
		</div>
	</div>
</ul>